@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Sora", sans-serif;
    line-height: 1.7;
    color: #888;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
    color: #21252f;
    font-weight: 700;
}

a {
    color: #21252f;
    text-decoration: none;
}

img {
    width: 100%;
}

.navbar {
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 160px;
}

.navbar .nav-link {
    font-size: 14px;
    font-weight: 700;
}

.navbar .nav-link.active {
    color: #00BEE8 !important;
}

.btn {
    padding: 10px 14px;
    border-width: 2px;
    border-radius: 5px;
}

.btn_blue {
    background-color: #00BEE8;
    color: #fff;
}

.btn_blue:hover {
    color: #fff;
    background-color: #0e7086;
    transition: all ease 1.1s;
}

.text_header {
    color: #0e7086;
}

.hero_section {
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.hero_section::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(18, 37, 37, 0.8);
    z-index: -1;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.card-effect {
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 25px;
    transition: all .9s ease;
}

.card-effect:hover {
    box-shadow: none;
    background-color: #f8f8f8;
    transform: translateZ(5px);
}

.iconbox {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00BEE8;
    color: #fff;
    font-size: 32px;
    border-radius: 100px;
    flex: none;
}

.products-post img {
    height: 241px;
}

form input.form-control {
    height: 50px;
}

form .form-control {
    border: transparent;
    background-color: #f0f0f0;
}


.footer_t {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #0e7086;
}

.footer_t a {
    color: rgb(189, 195, 201);
}

.footer_t a:hover {
    color: #fff;
}

.footer_t li {
    color: rgb(189, 195, 201);
}

.footer_b {
    background-color: #006177;
    color: rgb(228, 231, 233);
}