@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
}

.container_log {
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
   padding-bottom: 60px;
   background: #eee;
}

.container_log .form-log {
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
   background: white;
   text-align: center;
   width: 500px;
}

.container_log .form-log h3 {
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color: #333;
}

.container_log .form-log input,
.container_log .form-log select {
   width: 100%;
   padding: 10px 15px;
   font-size: 17px;
   margin: 8px 0;
   background: #eee;
   border-radius: 5px;
}

.container_log .form-log select option {
   background: white;
}

.container_log .form-log .form-btn {
   background: #055160;
   color: #FFF;
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
}

.container_log .form-log .form-btn:hover {
   background: #006177;
   color: white;
}

.container_log .form-log p {
   margin-top: 10px;
   font-size: 20px;
   color: #333;
}

.container_log .form-log p a {
   color: #006177;
}

.container_log .form-log .err-msg {
   margin: 10px 0;
   display: block;
   background: #ff7171;
   color: white;
   border-radius: 5px;
   font-size: 20px;
   padding: 10px;
}